<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Calendar</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><h5 style="color:red;">Close</h5></button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div pickadate ng-model="date" min-date="minDate" ng-click="calender_day(date)" max-date="maxDate" disabled-dates='disabledDates'></div>
      <div class="selected-date">
        dSelected date is {{date || '(no date selected)'}}
      </div>
  </ion-content>
</ion-modal-view>