<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Calendar</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><h5 style="color:red;">Close</h5></button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div pickadate ng-model="date" min-date="minDate" ng-click="calendar_day(date)" max-date="maxDate" disabled-dates='disabledDates'></div>
      <div class="selected-date">
        Selected date is {{date || '(no date selected)'}}
      </div>
      <div class="card">
  <div class="item item-text-wrap" ng-repeat="list in calendar_day_list">
    {{list.category}}{{list.price}}
  </div>
</div>
  </ion-content>
</ion-modal-view>