<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content> <!-- 내비게이션 전체 선언부  -->
    
    
    <ion-nav-bar class="bar-stable" align-title="center"> <!-- date로 명시된 타이틀 가운데로 조정 -->
      <ion-nav-back-button> <!-- 백버튼은 메인페이지에선 hide. 다른 페이지로 이동하는경우 show (ios는 백버튼 따로 없기때문에 넣어줘야되고 안드로이드 사실 필요없는부분 -->
      </ion-nav-back-button>
      <ion-nav-buttons side="left"> <!-- side 메뉴 버튼 위치는 왼쪽으로 설정  -->
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> <!-- 메뉴 토글도 왼쪽으로 배치한다. -->
        </button>
      </ion-nav-buttons>
       <ion-nav-buttons side="right"> <!-- side 메뉴 버튼을 오른쪽에도 추가 했다.  -->
       <button class="button button-icon button-clear ion-compose" ng-click="login()"> <!-- 버튼을 누르면 login fuction 진행  -->
        </button>
      </ion-nav-buttons>
    </ion-nav-bar> <!-- 내비게이션 바 위치 수정 끝  -->
    
    
    
    
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
