<ion-view cache-view="false" view-title="{{year}}-{{month}}-{{day}}  {{hours}}:{{minutes}}"> 
<ion-header-bar class="bar-subheader bar-assertive">
<h1 class="title" style="text-align:center;">sub_subject</h1>
</ion-header-bar> 
<ion-content> 
  <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
          <br>
            <div id="logo">
              <center><img src="http://code.ionicframework.com/assets/img/app_icon.png" style="width:50%;height:50%"></center>
            </div>
            <br>
          </ion-slide>
          <ion-slide>
          <br>
            <div id="logo">
              <center><img src="http://code.ionicframework.com/assets/img/app_icon.png" style="width:50%;height:50%;"><center>
            </div>
            <br>
          </ion-slide>
          <ion-slide>
          <br>
            <div id="logo">
              <center><img src="http://code.ionicframework.com/assets/img/app_icon.png" style="width:50%;height:50%;"><center>
            </div>
            <br>
          </ion-slide>
          <ion-slide>
          <br>
            <div id="logo">
              <center><img src="http://code.ionicframework.com/assets/img/app_icon.png" style="width:50%;height:50%;"><center>
            </div>
            <br>
          </ion-slide>
          <ion-slide>
          <br>
            <div id="logo">
              <center><img src="http://code.ionicframework.com/assets/img/app_icon.png" style="width:50%;height:50%;"><center>
            </div>
            <br>
          </ion-slide>
        </ion-slide-box>
<div class="tabs tabs-icon-only tabs-calm">
<!--     tab 색상리스트
    tabs-default
tabs-light
tabs-stable
tabs-positive
tabs-calm
tabs-balanced
tabs-energized
tabs-assertive
tabs-royal
tabs-dark -->
   <a class="tab-item" href="#/app/day">
        <i class="icon ion-android-more-vertical"></i>
   </a>
   <a class="tab-item" href="#/app/month">
        <i class="icon ion-grid" ></i>
   </a>
   <a class="tab-item" ng-click="login()">
        <i class="icon ion-calendar"></i>
   </a>
</div>

<!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> --> <!--  <label class="item item-input item-stacked-label">
   <div class= "row">
   <div class="col-20">
   <span class="input-label">Label 1</span>
   </div>
   <div class="col-50">
   <input type="text" placeholder="Placeholder 1">
   </div>
   </div>
   </label> -->
<div class="list">
  <div class="item item-input-inset">
    <label class="item item-input-wrapper"> 
    <input type="number" placeholder="-" ng-model="price1">
    </label>
    <button class="button button-icon ion-more" ng-click="openPopover($event,1)"></button>
  </div>

  <div class="list">
    <div class="item item-input-inset">
      <label class="item item-input-wrapper"> 
      <input type="number" placeholder="+" ng-model="price2">
      </label>
      <button class="button button-icon ion-more" ng-click="openPopover($event,2)"></button>
    </div>
    <!-- <div class="item item-divider">Category</div>
    <ion-toggle ng-repeat="item in settingsList" ng-model="item.checked" ng-checked="item.checked" ng-change="category(item.text)"> {{ item.text }} </ion-toggle>
    </div> -->
 <ion-item style="background-color: skyblue; color: white;font-size:20px;" ng-click="plus(price1)">
          <h1 style="text-align:center;color:white;">Add</h1>
 </ion-item>
 <ion-item style="background-color: skyblue; color: white;font-size:20px;" ng-click="del()">
          <h1 style="text-align:center;color:white;">All Delete</h1>
 </ion-item>
    <!--  <div class="item">
          <pre ng-bind="settingsList | json"></pre> 
        </div> -->

    <!--   <div class="item item-divider"> 
          Notifications
        </div>
        
        <ion-toggle ng-model="pushNotification.checked"
                    ng-change="pushNotificationChange()">
          Push Notifications
        </ion-toggle>
        
        <div class="item">
          <pre ng-bind="pushNotification | json"></pre> 
        </div>
        
        <ion-toggle toggle-class="toggle-assertive"
                    ng-model="emailNotification"
                    ng-true-value="'Subscribed'"
                    ng-false-value="'Unubscribed'">
          Newsletter
        </ion-toggle>
        
        <div class="item">
          <pre ng-bind="emailNotification | json"></pre> 
        </div> -->
</ion-content> 

</ion-view>
<script id="popover.html" type="text/ng-template">
<ion-popover-view>
<ion-content ng-show="type == 1">
      <div class="list">
        <!-- <div class="item item-divider"> 
          {{ data.clientSide }}
        </div>  데이터 바인딩 확인--> 
        
        <ion-radio ng-repeat="item in expenditureList"
                   ng-value="item.text"
                   ng-model="data.clientSide" ng-change="checkbox(item)">
          {{ item.text }}
        </ion-radio>
      <div class="item item-input-inset" ng-show="inputshow == 1">
      <label class="item item-input-wrapper"> 
      <input type="text" placeholder="Placeholder 1" ng-model="price2" style="padding-left:0px;">
      </label>
      <button class="button">button</button>
    </div>
</div>
</ion-content>
<ion-content ng-show="type == 2">
      <div class="list">
        <!-- <div class="item item-divider"> 
          {{ data.clientSide }}
        </div>  데이터 바인딩 확인--> 
        
        <ion-radio ng-repeat="item in incomeList"
                   ng-value="item.text"
                   ng-model="data.clientSide" ng-change="checkbox(item)">
          {{ item.text }}
        </ion-radio>
      <div class="item item-input-inset" ng-show="inputshow == 1">
      <label class="item item-input-wrapper"> 
      <input type="text" placeholder="Placeholder 1" ng-model="price2" style="padding-left:0px;">
      </label>
      <button class="button">button</button>
    </div>
</div>
</ion-content>
        </ion-popover-view>
</script>
   <!-- <ion-popover-view>
        <ion-toggle ng-repeat="item in settingsList"
                    ng-model="item.checked" 
                    ng-checked="item.checked">
          {{ item.text }}
        </ion-toggle>
        
   </ion-popover-view> -->
   
   <!-- <div class="item item-input-inset" ng-show="inputshow == 1">
      <label class="item item-input-wrapper"> 
      <input type="text" placeholder="Placeholder 1" ng-model="price2">
      </label>
      <button class="button">button</button>
    </div> -->
